* {
    margin: 0;
    padding: 0;
}

.bigbox{
    height:500px;
    width:auto;
    border:1px solid blue;
    display:-webkit-box;
}

#p1 {
    width:300px;
    color: red;
    border: 1px solid red;
    -webkit-box-ordinal-group:1;
}

#p2 {
    border: 1px solid red;
    width: 300px;
    color: seagreen;
    -webkit-box-ordinal-group: 2;
}

#p3 {
    border: 1px solid red;
    -webkit-box-flex: 1.0;
    color: aquamarine;
    -webkit-box-ordinal-group: 3;
}